<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>TaskCLI</title>
<link rel="stylesheet" href="style.css?v=3">

</head>
<body>

  {% if not user.is_authenticated %}
<script>window.location.href = "/";</script>
{% endif %}

<div id="main-body-container">

  
  <div class="popup-overlay" id="popup">
    <div class="popup-box">
      <h3 id="popup-title">Add New Task</h3>

      <input type="text" id="taskName" placeholder="Task" />
      <input type="text" id="projectName" placeholder="Project" />

      <select id="priority">
        <option value="High">High</option>
        <option value="Medium">Medium</option>
        <option value="Low">Low</option>
      </select>

      <input type="date" id="dueDate" />
      <input type="time" id="dueTime" />

      <div class="popup-actions">
        <button class="btn-small btn-cancel" id="cancelBtn">Cancel</button>
        <button class="btn-small btn-confirm" id="saveBtn">Add</button>
      </div>
    </div>
  </div>
</div>

  
  <div id="app-content">

    
    <div class="table">
    <h2>TaskCLI</h2>



 
    <div class="menu-item">All Tasks</div>
    <div class="menu-item">High Priority</div>
    <div class="menu-item">Medium Priority</div>
    <div class="menu-item">Recurring</div>

    <h3>Projects</h3>
    <div class="menu-item">Professional</div>
    <div class="menu-item">College</div>
    <div class="menu-item">Personal</div>
  </div>
    <button onclick="window.location.href='/logout/'" class="logout-btn">
    Logout
    </button>

    
    <div class="main">
    <div id="alert-bar" class="alert-box"></div>

    <button class="btn" id="addTaskBtn">+ Add Task</button>

    <div class="stats-container">
      <div class="stat-box">
        <div class="stat-title">Total Tasks</div>
        <div class="stat-number" id="total-count">0</div>
      </div>

      <div class="stat-box">
        <div class="stat-title">Completed</div>
        <div class="stat-number" id="completed-count">0</div>
      </div>

      <div class="stat-box">
        <div class="stat-title">Recurring</div>
        <div class="stat-number" id="recurring-count">0</div>
      </div>
    </div>

    <div class="table2">
      <table id="taskTable">
        <thead>
          <tr>
            <th>Task</th>
            <th>Project</th>
            <th>Priority</th>
            <th>Due Date</th>
            <th>Due Time</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody id="taskTbody">
          
         <tr data-date="2025-11-20" data-time="14:30">
            <td>Finish Assignment</td>
            <td>College</td>
            <td class="priority-high">High</td>
            <td>2025-11-20</td>
            <td>14:30</td>
            <td class="actions-cell"></td>
          </tr>

          <tr data-date="2025-11-22" data-time="10:00">
            <td>Team Meeting</td>
            <td>Work</td>
            <td class="priority-med">Medium</td>
            <td>2025-11-22</td>
            <td>10:00</td>
            <td class="actions-cell"></td>
          </tr>

          <tr data-date="2025-12-02" data-time="18:00">
            <td>Workout</td>
            <td>Personal</td>
            <td class="priority-low">Low</td>
            <td>2025-12-02</td>
            <td>18:00</td>
            <td class="actions-cell"></td>
          </tr> 
        </tbody>
      </table>
    </div>
    </div>
  </div>


<script src="script.js">
</script>
</body>
</html>

